<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs')%>
    </head>
<body>
    <div class="body-overlay">
        <header>
            <%- include('../partials/header.ejs')%>
        </header>
      <main>
          <div class="container">
        <h3><%=vehicle.name %> </h3>
        <ul>
            <% let carData = renderObjs(vehicle) %>
            <%- carData %> 
        </ul>
        <span id="images">
            <% let imageData = renderImages(vehicle.photos) %>
            <%- imageData %> 
        </span>
        <a href="/cars/<%=vehicle._id; %>/edit">Edit</a>
        <form  action="/cars/<%=vehicle._id; %>?_method=DELETE" method="POST">
            <input class="btn btn-danger btn-sm" type="submit" value="Delete">
    </main>
    <footer>
        <%- include('../partials/footer.ejs')%>
    </footer>
    </div>
</body>
</html>

<% function renderObjs(arrObj) { %>
<%   let listString = []  %>
<%   let vehicle =  JSON.parse(JSON.stringify(arrObj)) %>
<%   delete vehicle.__v %>  
<%   delete vehicle.name %>  
<%   for (const [key, value] of Object.entries(vehicle)) { %>
<%     listString.push('<li>' + `${key}: ` + `${value}` + '</li>') %>
<%   } %>
<%   return listString.join("")  %>
<% } %>

<% function renderImages(photoEntries) { %>
    <%     let photosList = [] %>
    <%     photoEntries.forEach(element => {
        photosList.push('<img src="' + '/images/' + element + '" width="250">' )
            })%>
    <%     console.log(photosList) %>
    <%   return photosList.join("") %>
<% } %>