<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
</head>
<body>
    <div class="body-overlay">
        <header>
            <%- include('./partials/header.ejs')%>
        </header>
    <main>
        <div class="container">
            <h1>Edit</h1>
            <!-- todo: add vehicle.values to the input fields  -->
            <form action="/cars/<%=vehicle._id%>?_method=PUT" method="POST">
                <label for="name">Name:</label>
                    <input type="text" name="name" value="<%=vehicle.name%>" /><br>
                <label for="make">Make:</label>
                    <input type="text" name="make" value="<%=vehicle.make%>" /><br>
                <label for="model">Model:</label>
                    <input type="text" name="model" value="<%=vehicle.model%>" /><br />
                <label for="year">Year:</label>
                    <input type="text" name="year" value="<%=vehicle.year%>" /><br />
                <label for="mileage">Mileage:</label>
                    <input type="text" name="color" value="<%=vehicle.color%>" /><br />
                <label for="mileage">Mileage:</label>
                    <input type="text" name="mileage" value="<%=vehicle.mileage%>" /><br />
                <label for="seats">Seats:</label>
                    <input type="text" name="seats" value="<%=vehicle.seats%>" /><br />
                <label for="doors">Doors:</label>
                    <input type="text" name="doors" value="<%=vehicle.doors%>" /><br />
                <label for="locationCity">City:</label>
                    <input type="text" name="locationCity" value="<%=vehicle.locationCity%>" /><br />
                <label for="locationState">State:</label>
                    <input type="text" name="locationState" value="<%=vehicle.locationState%>" /><br />
                <label for="vin">VIN:</label>
                    <input type="text" name="vin" value="<%=vehicle.vin%>" /><br />
                <label for="license">License:</label>
                    <input type="text" name="license" value="<%=vehicle.license%>" /><br />
                <label for="registration">Registration:</label>
                    <input type="text" name="registration" value="<%=vehicle.registration%>" /><br />
                <label for="registrationDate">Registration Date:</label>
                    <input type="text" name="registrationDate" value="<%=vehicle.registrationDate%>" /><br />
                <label for="insurance">Insurance:</label>
                    <input type="text" name="insurance" value="<%=vehicle.insurance%>" /><br />
                <label for="insuranceDate">Insurance Date:</label>
                    <input type="text" name="insuranceDate" value="<%=vehicle.insuranceDate%>" /><br />
                    <input type="text" name="fuelType" value="<%=vehicle.fuelType%>" /><br />
                <label for="photos">Photos:</label>
                    <input type="text" name="photos" value="<%=vehicle.photos%>" /><br />
                    <input class="btn btn-primary btn-sm" type="submit" value="Submit Product" />
            </form>
        </div>
    </main>
    <footer>
        <%- include('./partials/footer.ejs')%>
    </footer>
    </div>
  </body>
</html>