<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
</head>
<body>
    <div class="body-overlay">
        <header>
            <%- include('../partials/header.ejs')%>
        </header>
    <main>
        <div class="container">
            <h1>Edit <%=rental._id%></h1>
            <form action="/rentals/<%=rental._id%>?_method=PUT" method="POST">
                <!-- <input type="text" name="_id" value="<%=rental._id%>" /><br /> -->
                <label for="vehicle">Vehicle: </label>
                <select name="vehicle" placeholder="<%=rental.vehicle%>">
                    <% vehicles.forEach(vehicle => { %>
                        <option value="<%= vehicle._id %>"><%= vehicle.name %></option>
                    <% }) %>
                </select><br>
                <label for="customer">Customer: </label>
                <input type="text" name="customer" value="<%=rental.customer%>" /><br /> 
                <label for="rentalStartDate">Rental Start Date: </label>
                <input type="text" name="rentalStartDate" value="<%=rental.rentalStartDate%>" /><br /> 
                <label for="rentalEndDate">Rental End Date: </label>
                <input type="text" name="rentalEndDate" value="<%=rental.rentalEndDate%>" /><br /> 
                <label for="deliveryNeeded">Delivery Needed: </label>
                <select name="deliveryNeeded" value="<%=rental.deliveryNeeded%>">
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>
                </select><br> 
                <label for="totalCost">Total Cost: </label>
                <input type="text" name="totalCost" value="<%=rental.totalCost%>" /><br /> 
                <label for="rentalLocation">Rental Location: </label>
                <select name="rentalLocation" value="<%=rental.rentalLocation%>">
                    <option value="Temple,TX">Temple,TX</option>
                    <option value="MCI Airport">Killeen,TX - MCI Airport</option>
                    <option value="Austin,TX">Austin,TX</option>
                    <option value="AUS Airport">Austin,TX - AUS Airport</option>
                </select><br>
                <label for="rentalStatus">Rental Status: </label>
                <select name="rentalStatus" value="<%=rental.rentalStatus%>">
                    <option value="Pending">Pending</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Awaiting Check-in">Awaiting Check-in</option>
                    <option value="Completed">Completed</option>
                </select><br>
                <!-- <input type="text" name="rentalStatus" value="<%=rental.rentalStatus%>" /><br />  -->
                <input class="btn btn-primary btn-sm" type="submit" value="Submit" />
            </form>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer.ejs')%>
    </footer>
    </div>
  </body>
</html>